<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.founderapp"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:theme="@android:style/Theme.Holo.Light" android:hardwareAccelerated="true">
        <activity
            android:name=".PitchListActivity"
            android:screenOrientation="sensorPortait" android:theme="@style/MyThemeBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PitchEditorActivity" android:screenOrientation="sensorPortait" android:windowSoftInputMode="stateHidden|stateAlwaysHidden" android:theme="@style/MyThemeSecondary"></activity>
    </application>

</manifest>